registry=https://pkgs.dev.azure.com/BancoAgromercantilGT/598df457-10ac-4c16-831d-63a4a08e3c1e/_packaging/0001_npm_general/npm/registry/                 
always-auth=true
; begin auth token 
//pkgs.dev.azure.com/BancoAgromercantilGT/598df457-10ac-4c16-831d-63a4a08e3c1e/_packaging/0001_npm_general/npm/registry/:username=BancoAgromercantilGT 
//pkgs.dev.azure.com/BancoAgromercantilGT/598df457-10ac-4c16-831d-63a4a08e3c1e/_packaging/0001_npm_general/npm/registry/:_password=[ZTN1eDRyem5pcHF6YTcyZmdpbzJlNWo0bTVwN3VnY2JuanRuNWxuMnR4NmFtYm9maXhicQ==] 
//pkgs.dev.azure.com/BancoAgromercantilGT/598df457-10ac-4c16-831d-63a4a08e3c1e/_packaging/0001_npm_general/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/BancoAgromercantilGT/598df457-10ac-4c16-831d-63a4a08e3c1e/_packaging/0001_npm_general/npm/:username=BancoAgromercantilGT 
//pkgs.dev.azure.com/BancoAgromercantilGT/598df457-10ac-4c16-831d-63a4a08e3c1e/_packaging/0001_npm_general/npm/:_password=[ZTN1eDRyem5pcHF6YTcyZmdpbzJlNWo0bTVwN3VnY2JuanRuNWxuMnR4NmFtYm9maXhicQ==] 
//pkgs.dev.azure.com/BancoAgromercantilGT/598df457-10ac-4c16-831d-63a4a08e3c1e/_packaging/0001_npm_general/npm/:email=npm requires email to be set but doesn't use the value
; end auth token