<div class="modal fade " id="image-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vista previa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card" *ngIf="image">
          <img [src]="image.webformatURL" [alt]="image.tags">
          <div class="card-body">
            <h5 class="card-title">{{image.type}}</h5>

            <div class="row g-3">
              <div class="col-md-12">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text bg-primary text-white">Tags</span>
                  <input type="text" class="form-control" readonly [value]="image.tags">
                </div>
              </div>
              <div class="col-md-6 col-xs-6 col-sm-6">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text bg-primary text-white">Vistas</span>
                  <input type="text" class="form-control" readonly [value]="image.views | number: '1.0-0'">
                </div>
              </div>
              <div class="col-md-6 col-xs-6 col-sm-6">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text bg-primary text-white">Me gustas</span>
                  <input type="text" class="form-control" readonly [value]="image.likes | number: '1.0-0'">
                </div>
              </div>
              <div class="col-md-6 col-xs-6 col-sm-6">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>