<mat-dialog-content class="image-preview p-0">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar
           class="image-preview__img-user"
           style="background-image: url({{image.userImageURL}})">
      </div>
      <mat-card-title>{{image.user}}</mat-card-title>
      <button mat-icon-button
              class="image-preview__btn-close"
              (click)="close()"
              aria-label="Close">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-content class="p-0">
      <div class="image-preview__image">
        <img mat-card-image
             [src]="image.webformatURL"
             [alt]="image.tags">
      </div>

      <div class="p-2">
        <div>
          <mat-chip *ngFor="let tag of getTags()">
            {{tag}}
          </mat-chip>
        </div>

        <div class="mt-2">
          <mat-chip>
            <mat-icon aria-hidden="false"
                      aria-label="Icon View"
                      fontIcon="visibility"></mat-icon>
            <span>{{image.views | number: '1.0-0'}}</span>
          </mat-chip>

          <mat-chip>
            <mat-icon aria-hidden="false"
                      aria-label="Icon Like"
                      fontIcon="favorite"></mat-icon>
            <span>{{image.likes | number: '1.0-0'}}</span>
          </mat-chip>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>