.note-image-grid {
  font-size: 13px;
  font-style: italic;
  color: rgb(155, 155, 155);
  margin-bottom: 10px;
}
.section-images-grid {
  margin-top: 50px;
}
.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.image-item {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(177, 177, 177);

  &:hover {
    transform: scale(1.07);
  }
}

